.user-profile {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding-top: 3rem;
}

.profile-image {
  border-radius: 50rem;
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
