<div *ngIf="isLoaded && isUserDataLoaded" class="index-page">
  <mat-card class="post-card" *ngFor="let item of items; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <img class="post-image" [src]="item.image" alt="post image">
    <mat-card-subtitle align="start">Posted by {{item.username}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{item.caption}}</p>
    </mat-card-content>

    <mat-card-actions align="start">

      <button *ngIf="isUserDataLoaded" mat-button (click)="likeItem(item.id, i)" [ngClass]="item.usersLiked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
        <mat-icon>favorite</mat-icon> {{item.likes}} Like </button>
    </mat-card-actions>

    <div style="text-align: left">
      <p *ngFor="let comment of item.comments"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
    </div>

    <mat-form-field class="w-100">
      <mat-label>Leave a comment...</mat-label>
      <input  (keyup.enter)="postComment($event.target.value, item.id, i)" matInput #message maxlength="128">
      <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
    </mat-form-field>

  </mat-card>

</div>
