.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}


.post-card {
  display: block;
  margin: 3rem auto;
  width: 55%;
}
.post-image {
  display: block;
  margin: 1rem auto;
  width: 50%;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}
