<div *ngIf="isLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile/">Back to collections</button>
  </div>

  <div class="collection-card">
  <mat-card-header  style="text-align: left">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{collection.title}}
    </mat-card-title>
  </mat-card-header>
  <img class="post-image" mat-card-image [src]="collection.image" alt="collection image">
  <mat-card-content >
    <p style="font-size: large; text-align: left" >
      {{collection.description}}
    </p>
  </mat-card-content>
  <mat-card-actions >
    <button color="primary" mat-button (click)="openAddItemDialog()">
      <mat-icon color="primary">add_box</mat-icon>
      Add item
    </button>
  </mat-card-actions>
    <mat-card class="post-card" *ngFor="let item of items; let i = index">
      <mat-card-header style="text-align: left">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item.title}}</mat-card-title>
      </mat-card-header>
      <img class="post-image" mat-card-image [src]="item.image" alt="post image">
      <mat-card-subtitle align="start">Posted by {{item.username}}</mat-card-subtitle>
      <mat-card-content>
        <p>{{item.caption}}</p>
      </mat-card-content>


      <mat-card-actions align="start">

        <button  mat-button (click)="likeItem(item.id, i)" [ngClass]="item.usersLiked.indexOf(collection.username) !== -1 ? 'is-liked' : 'not-liked'">
          <mat-icon>favorite</mat-icon> {{item.likes}} Like</button>
      </mat-card-actions>



      <div style="text-align: left">
        <p *ngFor="let comment of item.comments; let c = index"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}
          <button color="accent" mat-button (click)="deleteComment(comment.id, i, c)">
            <mat-icon color="accent">clear</mat-icon>
          </button>
        </p>
      </div>
      <mat-form-field class="w-100">
        <mat-label>Leave a comment...</mat-label>
        <input  (keyup.enter)="postComment($event.target.value, item.id, i)" matInput #message maxlength="128">
        <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
      </mat-form-field>

      <mat-card-actions align="end">
        <button color="warn" mat-button (click)="removeItem(item, i)">
          <mat-icon color="warn">delete</mat-icon>
          Remove Item
        </button>
      </mat-card-actions>

    </mat-card>
  </div>




</div>
